<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" th:fragment="layout(content)">

<head>


	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
		integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>Base</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<style type="text/css">
		.paint-card {
			box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
		}
	</style>

</head>

<body>


	<!-- Start Navbar -->

	<nav class="navbar navbar-expand-lg bg-dark bg-success">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}"><i class="fa-solid fa-book"></i>Notes_Sharing</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/}"><i
								class="fa-solid fa-house-user"></i>Home</a>
					</li>

				</ul>
				<form class="d-flex">
					<a th:href="@{login}" class="btn btn-light"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
					<a th:href="@{signup}" class="btn btn-light ms-2"><i class="fa-solid fa-user-plus"></i></i>Sign
						Up</a>
				</form>

			</div>
	</nav>
	<!--End Navbar  -->

	<div th:replace="${content}"></div>




</body>

</html>